.contenedorHenry{
   
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  

   
}



.contenedorTextoHenry{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 75vh;
    margin:auto;
    border-radius: 30px ;
    

}


.titulo{
    color:rgb(0, 0, 0);
    font-size: 2.5rem;
    padding: 2rem;

}

.titulo span{
    color: red;
    font-size: 8rem;
}

.button{
    text-decoration: none;
}


.button h3{
   background-color: red;
    text-decoration: none;
    padding: 0.5rem 3rem;
    color: white;
    border-radius: 10px ;
    transition: all .3s ease-in-out;
}

.button h3:hover{
    background-color: white;
    border: 5px solid red;
     padding: 0.8rem 3.2rem;
     color: red;
     border-radius: 10px ;
     font-size: 2rem;
 }

 